@import "../dropdownMenu/dropdownMenu";

.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  
  .side-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    a {
      height: 100%;
    }
  }

  .active-link {
    &:hover {
      background: rgb(240, 240, 240);
    }
  }
}

.reverse{
    flex-direction: row-reverse;
}
.space{
    justify-content: space-evenly;
}