.category-modal-container {
  padding: 35px 25px 35px 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 5px;
  white-space: nowrap;
  animation: fade-in 1s linear;

  .publish-close-modal {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1.6rem;
    animation: fade-in 1s linear;
    &:hover {
      cursor: pointer;
    }
  }

  .publish-house-icon {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -40%);
    font-size: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    animation: fade-in 1s linear;
  }

  .modal-title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .publish-kind-selection-container {
    display: flex;
    justify-content: space-evenly;
    animation: fade-in 1s linear;
    gap: 1rem;

    .modal-kind-btn {
      outline: none;
      border: none;
      width: 50%;
      padding: 1.5rem 2rem;
      font-size: 1.5rem;
      text-align: center;
      background-color: #eeeeee;
      border-radius: 5px;
      animation: fade-in 1s linear;

      &:hover {
        cursor: pointer;
        background-color: #c5c5c5;
      }
    }
  }
}

.category-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: darker ease-out 1s;
  background-color: rgba(0, 0, 0, 0.65);
}

@keyframes darker {
  0% {
    background-color: rgba(0, 0, 0, 0.25);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  100% {
  }
}
