.initials-container {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: #fcf4e2;
  color: rgb(255, 144, 46);
  margin-left: 0;
}