.ability-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.ability-icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  img {
    height: 4rem;
  }
}

.ability-icon-text {
  font-size: 0.8rem;
}
