.sub-navbar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 110px;
  box-shadow: inset 0 4px 12px 0px rgba(0, 0, 0, 0.08);
  overflow-x: hidden;

  a:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  .side-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-link {
    height: 100%;
  }
  .active {
    background: none;
    border-bottom: 3px solid rgb(255, 111, 0);

    div {
      font-weight: 700;
      color: rgb(255, 111, 0);
    }
  }
}
